@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';
@import 'tale/404';
@import 'tale/tags';

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}