<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_site</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-05-05-lies.md</string>
		</array>
		<array>
			<string>2015-05-06-be-now-look-ahead.md</string>
		</array>
		<array>
			<string>2015-05-01-stop.md</string>
		</array>
		<array>
			<string>2015-04-30-fun.md</string>
		</array>
		<array>
			<string>2015-04-21-dreams_or_goals.md</string>
		</array>
		<array>
			<string>2015-04-20-positivity.md</string>
		</array>
		<array>
			<string>2015-04-16-risk.md</string>
		</array>
		<array>
			<string>2015-04-08-remarkable.md</string>
		</array>
		<array>
			<string>2015-04-03-adventure.md</string>
		</array>
		<array>
			<string>2015-04-02-anxiety.md</string>
		</array>
		<array>
			<string>2015-04-01-curiosity.md</string>
		</array>
		<array>
			<string>2015-03-31-craziness.md</string>
		</array>
		<array>
			<string>2015-03-30-breaking-the-chain.md</string>
		</array>
		<array>
			<string>2015-03-29-anger.md</string>
		</array>
		<array>
			<string>2015-03-28-seed.md</string>
		</array>
		<array>
			<string>2015-03-27-trust.md</string>
		</array>
		<array>
			<string>2015-03-26-open-your-eyes.md</string>
		</array>
		<array>
			<string>2015-03-25-at-ease.md</string>
		</array>
		<array>
			<string>2015-03-24-focus.md</string>
		</array>
		<array>
			<string>2015-03-23-companies.md</string>
		</array>
		<array>
			<string>2015-03-22-challenge.md</string>
		</array>
		<array>
			<string>2015-03-21-helping.md</string>
		</array>
		<array>
			<string>2015-03-20-experience.md</string>
		</array>
		<array>
			<string>2015-03-19-silence.md</string>
		</array>
		<array>
			<string>2015-03-18-patience.md</string>
		</array>
		<array>
			<string>2015-03-17-authenticity.md</string>
		</array>
		<array>
			<string>2015-03-16-laughter.md</string>
		</array>
		<array>
			<string>2013-10-17-i-am-here.md</string>
		</array>
		<array>
			<string>2013-10-18-cannot-teach.md</string>
		</array>
		<array>
			<string>2013-10-19-the-next-developer.md</string>
		</array>
		<array>
			<string>2013-10-22-agile-xp.md</string>
		</array>
		<array>
			<string>2013-10-27-use-your-imagination.md</string>
		</array>
		<array>
			<string>2013-11-10-why-makers.md</string>
		</array>
		<array>
			<string>2013-12-14-uphill-battle.md</string>
		</array>
		<array>
			<string>2013-12-24-merry-xmass.md</string>
		</array>
		<array>
			<string>2013-12-31-whats-jekyll.md</string>
		</array>
		<array>
			<string>2014-01-01-example-content.md</string>
		</array>
		<array>
			<string>2014-01-02-dwelling.md</string>
		</array>
		<array>
			<string>2014-01-02-introducing-lanyon.md</string>
		</array>
		<array>
			<string>2014-08-23-mushin.md</string>
		</array>
		<array>
			<string>2014-08-24-tmux.md</string>
		</array>
		<array>
			<string>2014-08-25-100-days.md</string>
		</array>
		<array>
			<string>2014-08-26-chronicler.md</string>
		</array>
		<array>
			<string>2014-08-27-two-weeks.md</string>
		</array>
		<array>
			<string>2014-08-31-in-the-beginning.md</string>
		</array>
		<array>
			<string>2014-12-01-crossroads.md</string>
		</array>
		<array>
			<string>2014-12-03-fun-driven-development.md</string>
		</array>
		<array>
			<string>2015-03-11-success.md</string>
		</array>
		<array>
			<string>2015-03-12-communication.md</string>
		</array>
		<array>
			<string>2015-03-13-dilution.md</string>
		</array>
		<array>
			<string>2015-03-14-care.md</string>
		</array>
	</array>
</dict>
</plist>
